In [1]:
import pandas as pd
import math
import get_df

In [2]:
df = get_df.get_df()[["match_id", "Svr", "1stIn", "2ndIn", "isSvrWinner"]]
df

/Users/tok/tennis_kc/get_df.py:26: DtypeWarning: Columns (8,9,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("tennis_MatchChartingProject/charting-{}-points-{}.csv".format(g, y),
/Users/tok/tennis_kc/get_df.py:26: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("tennis_MatchChartingProject/charting-{}-points-{}.csv".format(g, y),
/Users/tok/tennis_kc/get_df.py:26: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("tennis_MatchChartingProject/charting-{}-points-{}.csv".format(g, y),
/Users/tok/tennis_kc/get_df.py:26: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("tennis_MatchChartingProject/charting-{}-points-{}.csv".format(g, y),

,match_id,Svr,1stIn,2ndIn,isSvrWinner
0,20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...,1,0,0.0,0
1,20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...,1,1,NaN,1
2,20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...,1,0,1.0,0
3,20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...,1,1,NaN,1
4,20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...,1,1,NaN,1
...,...,...,...,...,...
120012,19790928-W-US_Open-F-Tracy_Austin-Chris_Evert,1,1,NaN,1
120013,19790928-W-US_Open-F-Tracy_Austin-Chris_Evert,1,1,NaN,1
120014,19790928-W-US_Open-F-Tracy_Austin-Chris_Evert,1,1,NaN,0
120015,19790928-W-US_Open-F-Tracy_Austin-Chris_Evert,1,1,NaN,1
120016,19790928-W-US_Open-F-Tracy_Austin-Chris_Evert,1,0,1.0,1

In [3]:
df_fs = df[df["1stIn"] == 1]
df_ss = df[df["2ndIn"] == 1]

x1=df_fs.shape[0]/df.shape[0] #1st in / (number of games=number of 1st serves)

y1=df_fs[df_fs["isSvrWinner"]==1].shape[0]/df_fs.shape[0] #(number of games won on first serve/ (number of 1st in) )
w1=y1*x1

x2=df_ss.shape[0]/(df.shape[0]-df_fs.shape[0])
y2=df_ss[df_ss["isSvrWinner"]==1].shape[0]/df_ss.shape[0]
w2=y2*x2

p=w1+(1-x1)*w2

x1_var = math.sqrt(x1*(1-x1)/df.shape[0])
x2_var = math.sqrt(x2*(1-x2)/df.shape[0])
y1_var = math.sqrt(y1*(1-y1)/df_fs.shape[0])
y2_var = math.sqrt(y2*(1-y2)/df_fs.shape[0])
# w2_var=
print("x1:", x1)
print("y1:", y1)
print("w1:", w1)
print("x2:", x2)
print("y2:", y2)
print("w2:", w2)
print("P:", p)
print("real P:", df[df["isSvrWinner"]==1].shape[0]/df.shape[0])

x1: 0.6153250546214352
y1: 0.6925701695217142
w1: 0.42615577739012545
x2: 0.876578221206861
y2: 0.5495860431381873
w2: 0.4817551560941894
P: 0.6114749157464997
real P: 0.6179442450368828

In [4]:
#Demonstration of using the 1st and 2nd serve strategy twice
p_1s=w1+(1-x1)*w1
p_2s=w2+(1-x2)*w2
print("P using strategy 1:", p_1s) # Probability of winning using second serve strategy twice
print("P using strategy 2:", p_2s) # Probability of winning using first serve strategy twice

P using strategy 1: 0.5900872277804318
P using strategy 2: 0.5412142344021006

In [5]:
# average of values by game

df_by_match = df.groupby(["match_id", "Svr"])
serve_stats = df_by_match.agg(x_1=("1stIn", "mean"), x_2=("2ndIn", "mean"))
serve_stats["y_1"] = df_by_match.apply(lambda x: x[x["1stIn"]==1]["isSvrWinner"].mean())
serve_stats["y_2"] = df_by_match.apply(lambda x: x[x["2ndIn"]==1]["isSvrWinner"].mean())

serve_stats["w_1"] = serve_stats["x_1"]*serve_stats["y_1"]
serve_stats["w_2"] = serve_stats["x_2"]*serve_stats["y_2"]

serve_stats

                                                             x_1       x_2  \
match_id                                           Svr
19600529-M-Roland_Garros-F-Nicola_Pietrangeli-L... 1    0.440945  1.000000
                                                   2    0.459677  1.000000
19600704-M-Wimbledon-F-Rod_Laver-Neale_Fraser      1    0.629630  0.971429
                                                   2    0.587302  0.937500
19690703-M-Wimbledon-SF-Rod_Laver-Arthur_Ashe      1    0.574468  0.918919
...                                                          ...       ...
20221127-W-Montevideo-F-Leolia_Jeanjean-Diana_S... 2    0.615385  1.000000
20221130-W-Andorra-R16-Sabine_Lisicki-Alina_Cha... 1    0.426230  0.914286
                                                   2    0.673469  0.562500
20221201-W-Andorra-R16-Cristina_Bucsa-Kateryna_... 1    0.608696  0.888889
                                                   2    0.754098  0.600000

                                                             y_1       y_2  \
match_id                                           Svr
19600529-M-Roland_Garros-F-Nicola_Pietrangeli-L... 1    0.464286  0.555556
                                                   2    0.421053  0.607143
19600704-M-Wimbledon-F-Rod_Laver-Neale_Fraser      1    0.607843  0.441176
                                                   2    0.689189  0.566667
19690703-M-Wimbledon-SF-Rod_Laver-Arthur_Ashe      1    0.722222  0.617647
...                                                          ...       ...
20221127-W-Montevideo-F-Leolia_Jeanjean-Diana_S... 2    0.600000  0.520000
20221130-W-Andorra-R16-Sabine_Lisicki-Alina_Cha... 1    0.730769  0.656250
                                                   2    0.515152  0.444444
20221201-W-Andorra-R16-Cristina_Bucsa-Kateryna_... 1    0.750000  0.562500
                                                   2    0.521739  0.333333

                                                             w_1       w_2
match_id                                           Svr
19600529-M-Roland_Garros-F-Nicola_Pietrangeli-L... 1    0.204724  0.555556
                                                   2    0.193548  0.607143
19600704-M-Wimbledon-F-Rod_Laver-Neale_Fraser      1    0.382716  0.428571
                                                   2    0.404762  0.531250
19690703-M-Wimbledon-SF-Rod_Laver-Arthur_Ashe      1    0.414894  0.567568
...                                                          ...       ...
20221127-W-Montevideo-F-Leolia_Jeanjean-Diana_S... 2    0.369231  0.520000
20221130-W-Andorra-R16-Sabine_Lisicki-Alina_Cha... 1    0.311475  0.600000
                                                   2    0.346939  0.250000
20221201-W-Andorra-R16-Cristina_Bucsa-Kateryna_... 1    0.456522  0.500000
                                                   2    0.393443  0.200000

[12158 rows x 6 columns]

In [6]:
points_db = pd.concat((serve_stats[["x_1", "y_1"]].rename(columns={"x_1": "x", "y_1": "y"}),
                       serve_stats[["x_2", "y_2"]].rename(columns={"x_2": "x", "y_2": "y"}),
                       ),
                      keys=["srv_1", "srv_2"],
                      copy=False)

points_db = points_db.reset_index()[["x", "y"]]
# sort points db by x values
points_db.sort_values(by="x", inplace=True)
points_db

              x         y
142    0.132530  0.636364
143    0.146341  0.583333
180    0.158416  0.687500
236    0.214876  0.807692
181    0.250000  0.600000
...         ...       ...
16321  1.000000  0.631579
16325  1.000000  0.750000
16330  1.000000  0.555556
14898  1.000000  0.578947
18572  1.000000  0.625000

[24316 rows x 2 columns]

In [7]:
# output points_db to csv, keeping index
points_db.to_csv("xy_match_average.csv", index=False)